# Node
node_modules/

# Environment
.env
.env.*
!.env.example

# Build output
dist/

backend/prisma/migrations/migration_lock.toml
backend/prisma/migrations/20251025125921_init/migration.sql

# OS-specific
.DS_Store

# Logs
*.log

# TypeScript build info
*.tsbuildinfo